<% if (!data) { %>
    <p>NAMA TIDAK ADAAAA</p>
    <% }else{ %>
        <% data.forEach(student=> { %>
            <img id="foto" src="<%= student.photoUrl %>" alt="<%= student.photoUrl %>">
            <% }) %>
                <a href="/">back</a>
                <% } %>
                    <img src="" alt="">