:root {
    --black: #333;
    --white: #eaeaea;
}

* {
    margin: 0;
    padding: 0;
    /* cursor: url(/img/cursor.png), auto; */
    font-family: monospace;
}

#foto {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 0 -20px;
}

body {
    background-color: var(--black);
    color: var(--white);
    overflow-x: hidden;
}

nav {
    background-color: var(--white);
    padding: 20px;
    margin-bottom: 20px;
}

nav img {
    width: 200px;
}

.container {
    width: 90%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    place-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}


.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: var(--white);
    margin: 20px;
    box-shadow: 5px 5px 20px black;
    color: var(--black);
    padding-bottom: 15px;
}

.card h2 {
    margin: 20px;
    text-align: center;
}

.card a {
    padding: 10px;
    border-radius: 2px;
    text-decoration: none;
    border: 1px solid var(--black);
    color: var(--black);
    font-weight: bold;
    box-shadow: 2px 2px 7px var(--black);
    transition: 0.3s;
}

.card a:hover {
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--white);
    box-shadow: 2px 2px 2px var(--black);
}

.next-prev {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


.next-prev a {
    text-decoration: none;
    border-radius: 2px;
    padding: 10px 15px;
    margin: 0 5px;
}

.next-prev .next a {
    background-color: #ddd;
    color: var(--black);
}

.next-prev .prev a {
    background-color: #666;
    color: var(--white);
}

.next-prev .prev a,
.next-prev .next a {
    margin: 0 50px;
}

.next-prev .prev,
.next-prev .next {
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-prev .number-page {
    text-align: center;
}

.next-prev .number-page a {
    display: inline-block;
    background-color: #666;
    color: var(--white);
    transition: .3s;
}

.next-prev .number-page a:hover {
    background-color: #ddd;
    color: var(--black);
}

.next-prev .number-page .active {
    background-color: #ddd;
    color: var(--black);
}


@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 10px;
    }


    #foto {
        width: 100px;
        height: 85px;
        object-position: 0 -15px;
        box-shadow: 0 2px 5px var(--black);
    }

    nav {
        padding: 10px;
    }

    nav img {
        width: 100px;
    }

    .card {
        width: 100px;
        align-self: stretch;
        display: grid;
        grid-template-rows: 85px 50px;
        justify-content: center;
    }

    .card h2 {
        font-size: 10px;
        text-align: center;
    }

    .card a {
        padding: 3px;
        font-size: 10px;
    }

    .next-prev .prev a,
    .next-prev .next a {
        margin: 0 19px;
    }

    .next-prev a {
        font-size: 10px;
        padding: 5px 7px;
        margin: 0;
    }
}