<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/logo.svg" type="image/svg">
    <link rel="stylesheet" href="/css/style.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <nav>
        <a href="/">
            <img src="/img/logo.svg" alt="">
        </a>
    </nav>
    <div class="container">
        <%- body %>
    </div>
    <script src="/js/main.js"></script>
</body>

</html>